#friends-display-link{
    background-color: #fafafa;
    display:block;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    border-radius: 5px;
    text-align: center;
    font-size: large;
    margin-top: -10px;
}
#friends-display-link i{
color: rgba(0, 0, 0, 0.3)
}

.friends-screen__channel {
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px;
}

.friends-screen{
    padding: var(--horizontal-space);
}

.friends-screen__channel-header{
 margin-bottom: 25px;
 display: flex;
 justify-content:space-between;
 align-items: center;
 color: rgba(0, 0, 0, 0.5);
}
